* {
    background-color: gold;
    text-transform: uppercase;
}

.container {
    margin: 10px;
    padding: 10px 0 10px 0;
    text-align: center;
}

header {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 40px;
    border-bottom: 5px dotted #3f5cff;
    padding: 50px;
    line-height: 70px;
    letter-spacing: 5px;
}


#announce {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.unifyFont {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 25px;    

}

#wordToGuess {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin: 40px;
}


#wrongGuesses, #winCounter, #hint, #playAgain {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 25px;
    
}

#buttons {
    padding: 30px;
}

